# --- Konfigurasi Rahasia ---
.env
.env.local
.env.*.local

# --- Folder/File Sampah Sistem ---
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# --- Folder Editor/IDE ---
.vscode/
.idea/

# --- Folder Database/Log ---
*.log
*.tmp
vendor/
node_modules/
